@model miChango.Models.ShowShoppingListViewModel

@{
    ViewBag.Title = "Index";

    var listaCompleta = Model.defaultList;

    var productosUsuario = Model.userList.Products;

}

<h2>Mi Chango</h2>
<dvi>
    <a href="@Url.Action("LogOff", "Account")">
        <div>Cerrar sesion</div>
    </a>
</dvi>
<h1>Lista productos</h1>


@foreach (var item in listaCompleta)
{
    // on click creamos un nuevo producto, le mandamos el nombre y la imagen como parametros
    <a href="@Url.Action("Create", "Producto", new { Name=item.Name, Image=item.Image })">
        <div>
            @Html.DisplayFor(modelItem => item.Name)
        </div>
    </a>
}

<h1>Lista usuario</h1>

@foreach (var item in productosUsuario)
{
        // on click vamos a borrar el producto, le mandamos el id del producto a borrar
    <a href="@Url.Action("Delete", "Producto", new { id=item.ProductID })">
        <div>@Html.DisplayFor(modelItem => item.Name)</div>
    </a>
}

