@using miChango.Models
@model LoginViewModel
@{
    Layout = "~/Views/Account/_miChangoLayout.cshtml";
    ViewBag.info = "Simplemente inicie sesión con su cuenta miChango!";
}

<section id="loginForm">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Ingrese su email" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            @*<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese su mail">*@
            <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico con nadie más.</small>
        </div>
        <div class="form-group">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Ingrese su contraseña" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            @*<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingrese su contraseña">*@
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="button">
                <button type="submit" class="btn btn-primary">Ingresar</button>
            </div>
        </div>
        <p>
            @Html.ActionLink("No tienes usuario? Registrate!", "Register")
        </p>
        <hr />
        <div class="terminos">
            <span>Al utilizar miChango aceptas nuestros</span>
            <a href="#">Terminos de uso</a>
            <span>y</span>
            <a href="#">Politica de privacidad</a>
        </div>

            }
    </section>

