@model miChango.Models.RegisterViewModel
@{
    Layout = "~/Views/Account/_miChangoLayout.cshtml";
    ViewBag.info = "Comienza creando una cuenta y uniendote a miChango!";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Ingrese su email" })
        <small id="emailHelp" class="form-text text-muted">Te prometemos que no te mandaremos correo no deseado!</small>

    </div>
    <div class="form-group">

        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Ingrese su contraseña" })

    </div>
    <div class="form-group">

        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Vuelva a ingresar su contraseña" })

    </div>
    <div class="form-group">
        <div class="button">
            <button type="submit" class="btn btn-primary">Registrarse</button>
        </div>
    </div>
    <p>
        @Html.ActionLink("Ya tienes cuenta? Logueate!", "Login")
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
